
* { box-sizing: border-box }

:host {
    /* border: solid 1px tomato; */
    display: block;
    margin-block: 4px;
    border: solid 1px var(--color-primary);
    border-radius: var(--radius-3);
    padding: var(--size-px-2) var(--size-px-3);
    
    .catalog.example {
        
        .example.header {}
        
        .example.body {
            
            .body.content {
                /* border: solid 1px tomato; */
                &::slotted(pre) {
                    /* border: solid 1px tomato; */
                    background-color: var(--gray-8);
                    color: var(--blue-3);
                    padding: var(--size-px-1) var(--size-px-3);
                    overflow-x: auto;
                }
            }
            
        }
        
        .example.footer {}
        
    }
    
}

:host(:focus-within) {
    border-color: var(--color-info);
}
