
* { box-sizing: border-box }

:host {
    display: block;
    
    .app.catalog {
        display: flex;
        flex-direction: column-reverse;
        
        .catalog.header {
            position: sticky;
            top: 0;
            box-shadow: var(--shadow-3);
            background-color: var(--color-primary);
            
            .header.main {
                display: flex;
                justify-content: space-between;
                gap: var(--size-px-2);
                padding-inline: var(--size-px-2);
                
                .main.title {
                    margin: 0;
                }
                
                .main.menu {
                    display: flex;
                    justify-content: flex-end;
                    gap: var(--size-px-2);
                    padding: 0;
                    list-style-type: none;
                    
                    .menu.item {
                        
                        .item.control {
                            border-radius: var(--radius-2);
                            padding: var(--size-px-2);
                            background-color: var(--color-dark);
                            color: var(--color-light);
                            text-decoration: none;
                            cursor: pointer;
                        }
                        
                    }
                    
                }
                
            }
            
            .header.alert {
                margin-inline: var(--size-px-2);
                background-color: var(--color-light);
                
                .alert.caption {
                    padding: var(--size-px-2) var(--size-px-3);
                    font-size: var(--font-size-0);
                    font-style: italic;
                }
                
            }
            
        }
        
        .catalog.body {
            
            .body.content {
                
                .content.section {
                    
                    .section.control {
                        display: none;
                    }
                    
                    .section.document {
                        display: none;
                        opacity: 0.25;
                        
                        .section.content {
                            
                            .content.menu {
                                list-style-type: none;
                                
                                .menu.item {
                                    
                                    .item.control {
                                        cursor: pointer;
                                    }
                                    
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                    .section.control:checked ~ .section.document {
                        display: block;
                        opacity: 1;
                    }
                    
                }
                
            }
            
        }
        
        .catalog.footer {}
    }
    
}