
* { box-sizing: border-box }

:host {
    /* border: solid 1px tomato; */
    display: block;
    
    .app.catalog {
        /* border: solid 1px tomato; */
        display: flex;
        flex-direction: column-reverse;
        
        .catalog.header {
            /* border: solid 1px tomato; */
            position: sticky;
            top: 0;
            box-shadow: var(--shadow-3);
            background-color: var(--color-primary);
            
            .header.main {
                display: flex;
                justify-content: space-between;
                gap: var(--size-px-2);
                padding-inline: var(--size-px-2);
                
                .main.title {
                    margin: 0;
                }
                
                .main.menu {
                    /* border: solid 1px cyan; */
                    display: flex;
                    justify-content: flex-end;
                    gap: var(--size-px-2);
                    padding: 0;
                    list-style-type: none;
                    
                    .menu.item {
                        /* border: solid 1px tomato; */
                        
                        .item.control {
                            /* border: solid 1px tomato; */
                            border-radius: var(--radius-2);
                            padding: var(--size-px-2);
                            background-color: var(--color-dark);
                            color: var(--color-light);
                            text-decoration: none;
                            cursor: pointer;
                        }
                        
                    }
                    
                }
                
            }
            
            .header.alert {
                margin-inline: var(--size-px-2);
                background-color: var(--color-light);
                
                .alert.caption {
                    padding: var(--size-px-2) var(--size-px-3);
                    font-size: var(--font-size-0);
                    font-style: italic;
                }
                
            }
            
        }
        
        .catalog.body {
            /* border: solid 1px tomato; */
            
            .body.content {
                
                .content.section.wrapper {}
                
                .content.section.control {
                    display: none;
                }
                
                .content.section.article {
                    display: none;
                    opacity: 0.25;
                    
                    .section.content {
                        
                        .content.menu {
                            list-style-type: none;
                            
                            .menu.item {
                                
                                .item.control {
                                    cursor: pointer;
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                }
                
                .content.section.control:checked ~ .content.section {
                    display: block;
                    opacity: 1;
                }
                
            }
            
        }
        
        .catalog.footer {}
    }
    
}