
<meta type="partial" name="ascii-pager" />
<link rel="partial" href="./pager.css" />
<script type="partial" src="./pager.js"></script>

<template type="partial">
    <div class="ascii pager">
        <button class="pager control button start">&Lang;</button>
        <button class="pager control button back">&LeftAngleBracket;</button>
        <div class="pager control quicknav">
            <a class="quicknav control" href="javascript: 0" data-n="1">2</a>
            <a class="quicknav control" href="javascript: 0" data-n="2">3</a>
            <a class="quicknav control" href="javascript: 0" data-n="3">4</a>
            <a class="quicknav control" href="javascript: 0" data-n="4">5</a>
            <a class="quicknav control" href="javascript: 0" data-n="5">6</a>
        </div>
        <button class="pager control button forth">&RightAngleBracket;</button>
        <button class="pager control button end">&Rang;</button>
    </div>
</template>
