
:host {
    min-height: 50vh;
}

.app.landing {
    
    .landing.feature {
        
        .feature.title {
            font-size: 3em;
        }
        
        .feature.title, .feature.subtitle {
            font-family: Satisfy;
            font-weight: 100;
        }
        
    }
    
}

my-menu {
    min-width: 320px;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media screen and (max-width: 400px) {
    my-menu {
        margin-left: unset;
    }
}

@media screen and (max-width: 720px) {
    my-menu {
        margin-left: unset;
    }
}
