
@import '../../../core/styles/sandbox.scss';

$modalOffset: 8%;

app-hud {
    display: block;
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 999;
    
    &[active="true"] {
        width: auto;
        height: auto;
    }
    
}

app-hud.vattention {
    position: relative;
    transition: min-height 1s 0s ease-in-out, height 1s 0s ease-in-out;
    
    .app.hud {
        @extend .alert;
        @extend .alert-info;
        // @extend .alert-warning;
        @extend .alert-dismissible;
        margin: 0;
        border-radius: 0;
    }
    
}

app-hud.vmodal {
    position: fixed;
    top: $modalOffset;
    bottom: $modalOffset;
    left: $modalOffset;
    right: $modalOffset;
    background-color: transparent;
    border: solid 1px #444;  // test
    display: none;
    justify-content: center;
    overflow: hidden;
    z-index: 999;
    
    &[active="true"] {
        display: flex;
    }
    
    .app.hud {
        background-color: #fff;
        border: solid 1px #444;
        border-radius: 3px;
        
        .close {
            padding: 0 8px;
        }
        
        .hud.body {}
        
    }
    
}

app-hud.vnote {
    display: block;
    position: fixed;
    top: 100%;
    right: 8px;
    width: 320px;
    transform: translateY(-110%);
    transition: transform 500ms 0s ease-in-out;
    
    .app.hud {
        @extend .alert;
        @extend .alert-info;
        @extend .alert-dismissible;
        width: 100%;
        margin: 0;
        
        .close {
            padding: 0 8px;
        }
        
    }
    
}
app-hud.valert {}
app-hud.vprompt {}
app-hud.vconfirm {}
