
@import '../../styles/sandbox';

app-hud {
    height: 0;
    display: block;
    overflow: hidden;
    transition: min-height 1s 0s ease-in-out, height 1s 0s ease-in-out;
    
    .app.hud {
        @extend .alert;
        @extend .alert-info;
        margin: 0;
    }
    
    &[active="true"] {
        height: auto;
    }
    
}
