
@import "https://unpkg.com/open-props";

:has( :is(h1, h2, h3, h4, h5, h6, p, q, blockquote) + [--hug] ) {
    
    :is(h1, h2, h3, h4, h5, h6, p, q, blockquote) {
        margin-block-end: 0;
        
        + [--hug] {
            margin-block-start: 0;
            &:is(p) {
                margin-block: var(--size-px-2);
            }
        }
        
    }
    
    [--hug] ~ :is(a, button, input) {
        margin-block-start: var(--size-5);
    }
    
}
