
.contact.page {}

.contact.page .contact.instructions {
    position: relative;
    isolation: isolate;
}

.contact.page .contact.instructions:is(:hover, :focus)::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    background-image: url("https://via.placeholder.com/468x60/0000000/fffffff?text=(720)515-2226");
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.contact.page .contact.phone.value {
    width: 216px;
    height: 40px;
    border: none;
}
