
.app.footer.page {
    margin: 0 34px;
    padding: 16px;
}

.app.footer.page .footer.header.title {
    margin: 0;
}

.app.footer.page .footer.resource.collection {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.app.footer.page .footer.resource.collection .resource.item {
    margin: 8px;
    padding: 8px;
    flex-grow: 1;
    min-width: 200px;
    max-width: 400px;
}

.app.footer.page .footer.resource.collection .resource.item.booklist .item.header.title::after {
    content: " (Coming soon)";
    padding-left: 4px;
    
}

.app.footer.page .footer.resource.collection .resource.item .item.action {
    background-color: rgba(255, 255, 255, 0.2);
    display: block;
    margin: 4px 0;
    padding: 4px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.app.footer.page .footer.resource.collection .resource.item .item.action:is(:hover, :focus) {
    background-color: rgba(255, 255, 255, 0.5);
}

.app.footer.page .footer.resource.collection .resource.item .item.action:visited {
    text-decoration: overline;
}

@media (max-width: 720px) {
    
    .app.footer.page .footer.resource.collection {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 480px) {
    
    .app.footer.page .footer.resource.collection {
        grid-template-columns: repeat(1, 1fr);
    }

}
