
<link href="./app/subsystem/consulting/consulting.component.css" rel="stylesheet" />
<section id="/consulting" class="page consulting" title="{{use 'SOME:KEY'}}">
    <h1 class="constulting header title">{{use 'TITLE:CONSULTING'}}</h1>
    <p>{{use 'CONTENT:CONSULTING:P:0'}}</p>
    <p>{{use 'CONTENT:CONSULTING:P:1'}}</p>
    <ul>
        <li>{{use 'CONTENT:CONSULTING:TARGET:GENERAL'}}</li>
        <li>
            {{use 'CONTENT:CONSULTING:TARGET:FRONTEND'}}
            <ul>
                <li>{{use 'CONTENT:CONSULTING:TARGET:FRONTEND:ARCHITECTURE'}}</li>
                <li>{{use 'CONTENT:CONSULTING:TARGET:FRONTEND:CORES'}}</li>
                <li>{{use 'CONTENT:CONSULTING:TARGET:FRONTEND:MDD'}}</li>
                <li>
                    {{use 'CONTENT:CONSULTING:TARGET:FRONTEND:SYNTAX'}}
                    <ul>
                        <li>{{use 'CONTENT:CONSULTING:TARGET:FRONTEND:SYNTAX:STYLEGUIDE'}}</li>
                        <li>{{use 'CONTENT:CONSULTING:TARGET:FRONTEND:SYNTAX:DEFENSIVENESS'}}</li>
                        <li>{{use 'CONTENT:CONSULTING:TARGET:FRONTEND:SYNTAX:MORE'}}</li>
                    </ul>
                </li>
                <li>{{use 'CONTENT:CONSULTING:TARGET:FRONTEND:PATTERNS'}}</li>
                <li>{{use 'CONTENT:CONSULTING:TARGET:FRONTEND:FRAMEWORKS'}}</li>
                <li>{{use 'CONTENT:CONSULTING:TARGET:FRONTEND:TDD'}}</li>
                <li>{{use 'CONTENT:CONSULTING:TARGET:FRONTEND:MORE'}}</li>
            </ul>
        </li>
        <li>{{use 'CONTENT:CONSULTING:TARGET:BACKEND'}}</li>
        <li>{{use 'CONTENT:CONSULTING:TARGET:MORE'}}</li>
    </ul>
    <p>{{{use 'CONTENT:CONSULTING:P:2'}}}</p>
    <h3><a href="#/contact">{{use 'TITLE:CONTACT'}}</a></h3>
</section>
