
<link href="./app/subsystem/sharable/sharable.component.css" rel="stylesheet" />
<div class="sharable asset">
    <ul class="asset toolbar">
        <li class="toolbar action">
            <a class="action item download" href="{{src}}" download title="{{use 'TOOLTIP:DOWNLOAD'}}">&DownArrowBar;</a>
        </li>
    </ul>
    <a class="asset preview" href="{{src}}" target="blank" title="{{use 'TOOLTIP:OPEN:EXTERNAL'}}">
        <iframe class="preview frame" src="{{src}}" scrolling="no"></iframe>
        <div class="preview cover"></div>
    </a>
</div>
