
:host {
    /* border: solid 1px tomato; */
    display: block;
    cursor: pointer;
}

/* :host { */
    /* display: block; */
    /* cursor: pointer; */
    
    .app.menu.icon {
        /* border: solid 1px tomato; */
        
        .icon.symbol {
            /* border: solid 1px tomato; */
            display: block;
            font-size: 3.5em;
            color: var(--color-accent);
        }
        
    }
    
/* } */
