
@import '../../styles/sandbox';

app-header {
    @extend .navbar;
    @extend .navbar-light;
    @extend .bg-light;
    @extend .sticky-top;
    
    .app.header {
        // @extend .collapse;
        // @extend .navbar-collapse;
        // width: 100%;
        // height: auto;
                
        .header.brand {
            @extend .navbar-brand;
            .brand.logo {
                width: 36px;
                height: 36px;
            }
        }
        
    }
        
    .header.menu {
        @extend .navbar-toggler;
        position: relative;
        
        .menu.control {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        
        .icon {
            @extend .navbar-toggler-icon;
        }
        
        .menu.control:focus ~ .icon {
            outline: solid 1px blue;
        }
        
        .menu.control:checked ~ .icon {
            background:
                linear-gradient(45deg, transparent 0%, transparent 48%, #333 48%, #333 52%, transparent 52%, transparent 100%),
                linear-gradient(135deg, transparent 0%, transparent 48%, #333 48%, #333 52%, transparent 52%, transparent 100%)
            ;
            background-position: center center;
            background-size: 10px;
            background-repeat: no-repeat;
        }
        
    }
    
}
