
:root {
    --tile-length: 100px;
}

.ascii.collection.view {
    
    .view.list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100px);
        grid-gap: 8px;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        .list.tile {
            /* SEE BELOW */
        }
        
    }
    
}
        
.list.tile {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: var(--tile-length);
    height: var(--tile-length);
    overflow: hidden;
    
    .tile.display {
        width: var(--tile-length);
        height: var(--tile-length);
        padding: 4px;
        background-color: #333;
        color: white;
    
        .tile.character, .tile.code, .tile.unicode, .tile.tags {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .tile.character {
            height: calc( var(--tile-length) - 36px );
            font-size: xx-large;
        }
        .tile.code, .tile.unicode, .tile.tags {
            height: calc( var(--tile-length) - 84px );
            padding: 12px;
            font-size: calc( var(--tile-length) - 84px );
            overflow: hidden;
            white-space: nowrap;
        }
        .tile.code {}
        .tile.unicode {
            display: none;
            &::before {
                content: "Unicode:\00a0";
            }
        }
        .tile.tags {
            display: none;
            &::before {
                content: "Tags:\00a0";
            }
        }
        
    }
    .tile.facade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
        cursor: pointer;
    }
    .tile.facade:checked ~ .tile.display {
        background-color: white;
        color: black;
    }
    
}

.sideload.modal {
    
    .modal.body {
        
        .body.content {
        
            .list.tile {
                width: 300px;
                height: 300px;
                
                .tile.display {
                    width: 300px;
                    height: 300px;
                
                    .tile.character, .tile.code, .tile.unicode, .tile.tags {
                    }
                    
                    .tile.character {
                        height: 60%;
                        font-size: 4em;
                    }
                    .tile.code, .tile.unicode, .tile.tags {
                        &:empty::after {
                            content: "Nothng to display";
                        }
                    }
                    .tile.code {
                        &::before {
                            content: "ASCII:\00a0";
                        }
                    }
                    .tile.unicode {
                        display: flex;
                    }
                    .tile.tags {
                        display: flex;
                    }
                    
                }
                
            }
            
        }
        
    }
    
}
