
.app.home {
    
    .home.header {
        padding-inline: var(--offset);
        
        .header.title {
            color: firebrick;
        }
        
    }
    
    .home.body {
        
        .body.section {
            --body-section-shadow: inset 0 0 16px -6px black;
            min-height: 400px;
            
            .section.header, .section.footer {
                /* margin-block-end: var(--size-px-8); */
                /* padding-block: var(--size-px-3); */
                .header.content, .footer.content {
                    padding-inline: var(--offset);
                }
            }
            
            .section.header {
                background-color: white;
            }
            
            .section.footer {
                background-color: white;
                margin-block: var(--size-px-8);
            }
            
        }
        
    }
    
    .home.footer {
        min-height: 200px;
        padding-inline: var(--offset);
    }
    
}
