
.app.page.home {
    
    .page.header {
        padding-inline: var(--offset);
        
        .header.title {
            color: firebrick;
        }
        
    }
    
    .page.body {
        
        .body.section {
            --body-section-shadow: inset 0 0 16px -6px black;
            min-height: 400px;
            
            .section.header {
                background-color: white;
            }
            
            .section.footer {
                min-height: 50vh;
                background-color: white;
                margin-block: var(--size-px-8);
            }
            
            .section.header, .section.article, .section.footer {
                padding-inline: var(--offset);
            }
            
        }
        
    }
    
    .page.footer {
        min-height: 200px;
        padding-inline: var(--offset);
    }
    
}
