
:host {
    /* border: solid 1px tomato; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-dark);
}

/* :host { */
    /* position: relative; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* background-color: var(--color-dark); */

    csc-header[type="static"] {
        position: absolute;
        top: 0;
        width: 100%;
        animation: unset;
        animation-timeline: unset;
        animation-range: unset;
    }
    
    .app.section.hero {
        /* border: solid 1px tomato; */
        display: flex;
        flex-wrap: wrap-reverse;
        width: 100%;
        margin-top: 16px;
        
        .section.column {
            /* border: solid 1px tomato; */
            display: block;
            width: 100%;
            &.graphic {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .section.header {
                &.title {
                    color: var(--color-accent);
                    font-size: 7vw;
                }
                &.subtitle {
                    color: var(--color-compliment);
                }
            }
            
            .section.content {
                margin-block: var(--spacing-xl);
                color: var(--color-light);
            }
            
            .section.cta.group {
                display: flex;
                justify-content: center;
                
                .cta.control {
                    &.primary {
                        background-color: var(--color-accent);
                        color: var(--color-dark);
                    }
                    &.secondary {
                        background-color: var(--color-dominant);
                        color: var(--color-light);
                    }
                }
                
            }
            
            .section.image {
                /* border: solid 1px tomato; */
                display: flex;
                justify-content: center;
                
                .image.element {
                    /* border: solid 1px tomato; */
                    max-width: 100%;
                }
                
            }
            
        }
        
    }
    
/* } */

@media (min-width: 768px) {
    /* :host { */
        .app.section.hero {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 16px;
            
            .section.column {
                .section.cta.group {
                    justify-content: end;
                }
                .section.header {
                    &.title {
                        font-size: 2em;
                    }
                }
            }
            
        }
    /* } */
}

@supports not (animation-timeline: scroll()) {
    /* :host { */
        csc-header[type="static"] {
            position: fixed;
        }
    /* } */
}
