
:host {}

.app.feature {
    
    .feature.header {
        
        .header.title {
            margin: 0;
        }
        .header.subtitle {
            margin: 2px auto 8px;
        }
        
    }
    
    .feature.body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    
    .feature.footer {}
    
}

@media (min-width: 768px) {
    .app.feature .feature.body {
        flex-direction: row;
    }
}
