
<link href="./app/subsystem/contact/contact.component.css" rel="stylesheet" />
<section id="/contact" class="page contact" routelet>
    <h2>{{{use 'TITLE:CONTACT'}}}</h2>
    <p>{{{$ (use 'CONTENT:CONTACT:P:0') }}}</p>
    <p><a href="{{use 'CONTENT:CONTACT:SOCIAL:LINKEDIN'}}">LinkedIn</a></p>
    <p>&phone; Phone number: <a href="tel:7205152226" title="{{use 'CONTENT:CONTACT:PHONE'}}">{{use 'CONTENT:CONTACT:PHONE'}}</a></p>
    <p>&commat; Email: {{use 'CONTENT:CONTACT:EMAIL'}}</p>
</section>
