
<ul class="app menu desktop">
    <li class="menu item">
        <a class="item control" href="#/home">${ content['MENU:ACTION:HOME'] }</a>
    </li><li class="menu item">
        <a class="item control" href="#/services">${ content['MENU:ACTION:SERVICES'] }</a>
    </li><li class="menu item">
        <a class="item control" href="#/pricing">${ content['MENU:ACTION:PRICING'] }</a>
    </li><li class="menu item">
        <a class="item control" href="#/contact">${ content['MENU:ACTION:CONTACT'] }</a>
    </li><li class="menu item">
        <a class="item control" href="#/about">${ content['MENU:ACTION:ABOUT'] }</a>
    </li><li class="menu item">
        <a class="item control" href="#/footer">${ content['MENU:ACTION:MORE'] }</a>
    </li>
</ul>
