
@import url("/src/theme/variables.css");

h1, h2, h3, h4, h5, h6 {
    &:not(:only-child) {
        /* border: solid 1px tomato; */
        margin-bottom: 0;
        
        & ~ h2, & ~ h3, & ~ h4, & ~ h5, & ~ h6 {
            margin-top: var(--spacing-xs);
            
            & ~ h3, & ~ h4, & ~ h5, & ~ h6 {
                margin-bottom: var(--spacing-sm);
                
                & ~ h4, & ~ h5, & ~ h6 {
                    margin-bottom: var(--spacing-md);
                    
                    & ~ h5, & ~ h6 {
                        margin-bottom: var(--spacing-lg);
                        
                        & ~ h6 {
                            margin-bottom: var(--spacing-xl);
                        }
                        
                    }
                    
                }
                
            }
            
        }
        & ~ p {
            margin-top: var(--spacing-lg);
        }
        
    }
}
