
<section id="/about" class="page about" routelet>
    <h2>{{use 'TITLE:ABOUT'}}</h2>
    <article>
        <p>{{{use 'CONTENT:ABOUT:P:0'}}}</p>
        <p>{{{use 'CONTENT:ABOUT:P:1'}}}</p>
        <p>{{{use 'CONTENT:ABOUT:P:2'}}}</p>
        <p>{{{use 'CONTENT:ABOUT:P:3'}}}</p>
        <ul>
            <li>{{{use 'CONTENT:ABOUT:HOBBY:SOCCER'}}}</li>
            <li>{{{use 'CONTENT:ABOUT:HOBBY:HOCKEY'}}}</li>
            <li>{{{use 'CONTENT:ABOUT:HOBBY:ARCHERY'}}}</li>
            <li>{{{use 'CONTENT:ABOUT:HOBBY:RANGES'}}}</li>
            <li>{{{use 'CONTENT:ABOUT:HOBBY:MUSIC'}}}</li>
            <li>{{{use 'CONTENT:ABOUT:HOBBY:ASTRONOMY'}}}</li>
            <li>{{{use 'CONTENT:ABOUT:HOBBY:MORE'}}}</li>
        </ul>
        <p>{{{use 'CONTENT:ABOUT:P:4'}}}</p>
    </article>
</section>
