
<div class="app menu">
  <h2>${title}</h2>
  
  <nav class="menu nav" role="tablist" aria-orientation="vertical">
    <a class="nav item home ${ { 'app': 'active' }[ name ] }" href="#/" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
    <a class="nav item showcase${ { 'showcase': 'active' }[ name ] }" href="#/app/showcase" role="tab" aria-controls="v-pills-messages" aria-selected="false">Showcase</a>
    <a class="nav item styleguide ${ { 'styleguide': 'active' }[ name ] }" href="#/app/engineering/styleguide" role="tab" aria-controls="v-pills-messages" aria-selected="false">Styleguide</a>
    <a class="nav item engineering ${ { 'engineering': 'active' }[ name ] }" href="#/app/engineering" role="tab" aria-controls="v-pills-messages" aria-selected="false">Engineering</a>
    <a class="nav item about ${ { 'about': 'active' }[ name ] }" href="#/app/about" role="tab" aria-controls="v-pills-profile" aria-selected="false">About</a>
    <a class="nav item contact ${ { 'contact': 'active' }[ name ] }" href="#/app/contact" role="tab" aria-controls="v-pills-messages" aria-selected="false">Contact</a>
    <a class="nav item feedback ${ { 'feedback': 'active' }[ name ] }" href="#/feedback" role="tab" aria-controls="v-pills-messages" aria-selected="false">Feedback</a>
    
    <a class="nav item linkin ${ { 'linkin': 'active' }[ name ] }" href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&redirect_uri=http://localhost:8080/oauth/callbacks/linkedin.html&scope=r_liteprofile%20r_emailaddress&client_id=78k0oxwlx85vwu" role="tab" aria-controls="v-pills-messages" aria-selected="false">Link-In</a>
  </nav>
  
</div>
