
<div class="vertices vmodal" (click)="handleClick($event, active, 'other')">
    <div class="vmodal header">
        <div id="x">
            <div id="y">
                <span id="z" (click)="handleClick($event, active, 'other')">
                    Modal is active: {{active}}
                </span>
            </div>
        </div>
    </div>
    <div class="vmodal body">
        <div class="vmodal outlet" {innerHTML}="content"></div>
    </div>
    <div class="vmodal footer"></div>
</div>
