
@import "../../../core//styles/sandbox.scss";
@import "~bootstrap/scss/buttons";

$offset: 8%;

v-modal {
    position: fixed;
    top: $offset;
    bottom: $offset;
    left: $offset;
    right: $offset;
    background-color: transparent;
    border: solid 1px #444;  // test
    display: none;
    justify-content: center;
    overflow: hidden;
    
    &[active="true"] {
        display: flex;
    }
    
    .vertices.vmodal {
        background-color: #fff;
        border: solid 1px #444;
        border-radius: 3px;
        
        .vmodal.header {}
        .vmodal.body {
            overflow: auto;
        }
        .vmodal.footer {}
        
    }
    
}
