
:host {}

:host(:--submitting)::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}
:host(:--submitted) .thank.you {
    display: flex;
}

.thank.you {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 8px;
    font-size: 2em;
    font-weight: bolder;
    background-color: rgba(0, 255, 100, 0.4);
    
    .you.title, .you.subtitle {
        margin: 0;
    }
    
}

.contact.form {
    
    .form.control {
        
        &.label {}
        &.input {
            margin: 4px;
            padding: 4px;
            border-radius: 2px;
            border-width: 0;
            box-shadow: 0px 0px 1px 0px black;
        }
        &.button {
            min-width: 100px;
            margin: 8px;
            padding: 8px;
            border: none;
            border-radius: 2px;
            outline: none;
            color: white;
            background-color: rgba(0, 0, 0, 0.4);
            &:hover, &:focus {
                box-shadow: white 0px 0px 5px 4px;
            }
            
            &.submit {
                color: black;
                background-color: rgba(0, 255, 100, 0.4);
            }
            
            &.reset {
                margin-right: 0;
            }
            
        }
        
    }
    
    .form.control.input.phone {
        
        & ~ .form.control.label.sms {
            display: none;
        }
        &:not(:placeholder-shown) ~ .form.control.label.sms {
            display: unset;
        }
        
    }
    
    fieldset {
        
        &:last-child {
            border: none;
            display: flex;
            justify-content: end;
            padding-right: 0;
        }
        
    }
    
    .form.errors {
        border: solid 1px firebrick;
        padding: 8px;
        &:empty {
            display: none;
        }
        
        .error.message {
            display: block;
            color: firebrick;
            cursor: pointer;
        }
        
    }
    
}
