
:host {
    /* border: solid 1px tomato; */
    display: flex;
    align-items: center;
    background-color: var(--color-dark);
    
    .app.section.hero {
        /* border: solid 1px tomato; */
        display: flex;
        flex-wrap: wrap-reverse;
        width: 100%;
        
        .section.column {
            /* border: solid 1px tomato; */
            display: block;
            width: 100%;
            
            .section.header {
                &.title {
                    color: var(--color-accent);
                }
                &.subtitle {
                    color: var(--color-compliment);
                }
            }
            
            .section.content {
                color: var(--color-light);
            }
            
            .section.cta.group {
                display: flex;
                justify-content: center;
                
                .cta.control {
                    &.primary {
                        background-color: var(--color-accent);
                        color: var(--color-dark);
                    }
                    &.secondary {
                        background-color: var(--color-dominant);
                        color: var(--color-light);
                    }
                }
                
            }
            
            .section.image {
                /* border: solid 1px tomato; */
                display: flex;
                justify-content: center;
                
                .image.element {
                    /* border: solid 1px tomato; */
                    max-width: 100%;
                }
                
            }
            
        }
        
    }
    
}

@media (min-width: 768px) {
    :host {
        .app.section.hero {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 16px;
            
            .section.column {
                .section.cta.group {
                    justify-content: end;
                }
            }
            
        }
    }
}
