
<csc-header type="static"></csc-header>
<div class="app section hero">
    <div class="section column">
        <h1 class="section header title">${ content['HERO:TITLE'] }</h1>
        <h2 class="section header subtitle">${ content['HERO:SUBTITLE'] }</h2>
        <div class="section content">${ content['HERO:CONTENT'] }</div>
        <div class="section cta group">
            <a class="cta control primary" part="cta primary" href="#/contact">${ content['CTA:CONTACT'] }</a>
            <a class="cta control secondary" part="cta secondary" href="#/services">${ content['CTA:SERVICES'] }</a>
        </div>
    </div>
    <div class="section column">
        <div class="section image">
            <img class="image element" src="/assets/website-design-icon.png" />
        </div>
    </div>
</div>