
.menu.button.main {
    /* border: solid 1px cyan; */
    position: relative;
    width: 64px;
    height: 64px;
    overflow: hidden;
    background-color: transparent;
    border: none;
}

.menu.button.main .button.control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    opacity: 0.0;
    cursor: pointer;
}

.menu.button.main .button.display {}

.menu.button.main .button.display .display:is(.off, .on) {
    font-size: xx-large;
    color: white;
}

.menu.button.main .button.display .display.off {
    display: block;
}

.menu.button.main .button.display .display.on {
    display: none;
}

.menu.button.main .button.control:focus ~ .button.display * {
    outline: solid 1px white;
}

.menu.button.main .button.control:checked ~ .button.display .display.off {
    display: none;
}

.menu.button.main .button.control:checked ~ .button.display .display.on {
    display: block;
}
