
:host {
    /* border: solid 1px tomato; */
    position: relative;
    display: flex;
    align-items: center;
    border-inline: solid 2vw transparent;
    border-block-width: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-accent);
}

/* :host { */
    /* position: relative; */
    /* display: flex; */
    /* align-items: center; */
    /* border-inline: solid 2vw transparent; */
    /* border-block-width: 8px; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* color: var(--color-accent); */
    
    .app.section.footer {
        /* border: solid 1px tomato; */
        width: 100%;
        padding-bottom: 64px;
        
        .section.header.title {
            /* border: solid 1px tomato; */
        }
        
        .section.link.group {
            /* border: solid 1px tomato; */
            /* display: grid; */
            /* grid-template-columns: 1fr; */
            /* grid-gap: 16px; */
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            
            .link.list {
                /* border: solid 1px tomato; */
                margin: 0;
                padding: 0;
                list-style-type: none;
                flex-grow: 1;
                border-top: solid 1px var(--color-accent);
                padding-top: 16px;
                &.cta {
                    .list.item {
                        /* border: solid 1px tomato; */
                        display: grid;
                        justify-content: end;
                    }
                }
                
                .list.item {
                    /* border: solid 1px tomato; */
                    
                    .item.control {
                        /* border: solid 1px tomato; */
                        display: block;
                        color: var(--color-accent);
                        text-decoration: none;
                        font-size: 1.25em;
                        &.cta {
                            &.primary {
                                background-color: var(--color-accent);
                                color: var(--color-dark);
                                margin-inline: 0 !important;
                            }
                        }
                        
                        .control.icon {}
                        
                    }
                    
                }
                
            }
            
        }
        
    }
    
    .app.foot.block {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: var(--outset);
        margin-top: 32px;
        padding: 8px;
        background-color: var(--color-dominant);
        color: var(--color-light);
    }
    
/* } */

@media (min-width: 768px) {
    /* :host { */
        .app.section.footer {
            .section.link.group {
                /* grid-template-columns: 1fr 1fr 1fr; */
            }
        }
    /* } */
}
