
:host {
    --margin-top: 6vh;
}

.app.footer {
    min-height: calc(100vh - var(--margin-top));
    margin-top: var(--margin-top);
    padding: 1vh var(--outset);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px -2px 12px -6px black;
    
    .footer.content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        
        .content.section {
            
            .section.block {
                border-top: solid 1px #eee;
                padding-top: 16px;
                
                .block.item {
                    display: block;
                    padding: 2px 0;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: small;
                }
            }
            
        }
    }
    
}

@media (min-width: 768px) {
    .app.footer .footer.content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 16px;
    }
}
