
<link href= "/lib/line-awesome-1.3.0/1.3.0/css/line-awesome.min.css" rel="stylesheet" />
<footer class="app section footer">
    <h1 class="section header title">${ content['FOOTER:TITLE'] }</h1>
    <div class="section link group">
        <ul class="link list">
            <li class="list item">
                <a class="item control" href="#/home">
                    <i class="la la-home"></i>
                    ${ content['MENU:ACTION:HOME'] }
                </a>
            </li>
            <li class="list item">
                <a class="item control" href="#/services">
                    <i class="la la-cube"></i>
                    ${ content['MENU:ACTION:SERVICES'] }
                </a>
            </li>
            <li class="list item">
                <a class="item control" href="#/pricing">
                    <i class="la la-barcode"></i>
                    ${ content['MENU:ACTION:PRICING'] }
                </a>
            </li>
            <li class="list item">
                <a class="item control" href="#/contact">
                    <i class="la la-phone"></i>
                    ${ content['MENU:ACTION:CONTACT'] }
                </a>
            </li>
            <li class="list item">
                <a class="item control" href="#/about">
                    <i class="la la-users"></i>
                    ${ content['MENU:ACTION:ABOUT'] }
                </a>
            </li>
        </ul>
        <ul class="link list">
            <li class="list item">
                <a class="item control" href="/employers" target="_blank">
                    <i class="la la-user-tie"></i>
                    ${ content['FOOTER:ACTION:EMPLOYERS'] }
                </a>
            </li>
            <li class="list item">
                <a class="item control" href="/developers" target="_blank">
                    <i class="la la-code"></i>
                    ${ content['FOOTER:ACTION:DEVELOPERS'] }
                </a>
            </li>
        </ul>
        <ul class="link list">
            <li class="list item">
                <a class="item control" href="https://www.linkedin.com/in/cody-s-carlson-1b837259" target="_blank">
                    <i class="la la-linkedin"></i>
                    LinkedIn
                </a>
            </li>
            <li class="list item">
                <a class="item control" href="https://github.com/cScarlson" target="_blank">
                    <i class="la la-github"></i>
                    GitHub
                </a>
            </li>
            <li class="list item">
                <a class="item control" href="https://stackoverflow.com/users/1153121/cody" target="_blank">
                    <i class="la la-stack-overflow"></i>
                    StackOverflow
                </a>
            </li>
        </ul>
    </div>
</footer>
<div class="app foot block">
    <p class="foot copyright">${ content['FOOTER:COPYRIGHT'] }</p>
</div>
