
.css.router {
    &:not(:has(.router.route:target)) {
        
        .router.route.default {
            display: block;
        }
        
    }
    
    .router.route {
        display: none;
        display: block;
    }
    
    .router.route:target {
        display: block;
    }
    
    .router.route:has(.router.route:target) {
        display: block;
    }
    
}
