
<!-- <form class="app contact form" (submit)="handleSubmit($event)">
  <input class="form input x" type="text" />
  <app-recaptcha (change)="handleCaptchaChange($event)"></app-recaptcha>
  <button class="form button submit" type=submit>Send</button>
</form> -->

<!-- <div class="app contact temp">
  <a class="temp link" href="https://www.linkedin.com/in/cody-s-carlson-1b837259" target="_blank">
    <img class="link image" src="shadow.jpg" />
    <h3 class="link header">Hi!</h3>
    <p class="link text">This page is not finished yet, but don't let that stop you! Please click here to visit my LinkedIn Profile, and I will follow up <bold>ASAP</bold>.</p>
    <p class="link text">Thank You</p>
  </a>
</div> -->

<div class="card text-center">
  <!-- <div class="card-header">
    Featured
  </div> -->
  <div class="card-body">
    <h5 class="card-title">Hi!</h5>
    <img class="rounded float-left" src="shadow.jpg" width="48px" height="48px" />
    <p class="card-text">Something went wrong, but don't let that stop you! Please click here to visit my LinkedIn Profile, and I will follow up <bold>ASAP</bold>.</p>
    <a class="btn btn-primary" href="https://www.linkedin.com/in/cody-s-carlson-1b837259" target="_blank">Go to LinkedIn</a>
  </div>
  <div class="card-footer text-muted">
    Thank you
  </div>
</div>
