
:host {}

.app.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bolder;
    
    .menu.item {
        margin: 4px auto;
        white-space: nowrap;
        overflow: hidden;    
        
        &.header {
            margin-bottom: 4px auto;
        }
        
        &.control {
            
            .item.link {
                display: block;
                text-decoration: none;
            }
            
        }
        
    }
    
}
