
<!DOCTYPE html>
<html v="app document root">
  <head>
    <base href="<%= htmlWebpackPlugin.options.base %>" />
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>Cody S. Carlson</h1>
    <p>Coming sooooooooon...</p>
    <v-backdrop options='{ "dismissable": "false" }'></v-backdrop>
    <v-modal active="true"></v-modal>
    <img src="assets/shadow.jpg" alt="avatar" />
    <!-- <div id="app" [innerHTML]="missing"></div> -->
    <!-- <input [attr:type]="testType" [attr:name]="testName" [innerHTML]="value:testValue" {105#110#110#101#114#72#84#77#76}="" value="..." /> -->
  </body>
</html>
