
:root {
    --outset: 1vw;
    --color-dominant: #5900FF;
    --color-compliment: #B030B0;  /* C100B5 */
    --color-accent: #4DFCE0;
    --color-dark: black;
    --color-light: white;
    --color-button-border: transparent;
}

:root {
    --margin-bottom-xxs: 4px;
    --margin-bottom-xs:  8px;
    --margin-bottom-sm:  16px;
    --margin-bottom-md:  24px;
    --margin-bottom-lg:  32px;
    --margin-bottom-xl:  40px;
    --margin-bottom-xxl: 48px;
}

/* h1, h2, h3, h4, h5, h6 {
    & > h2, & > h3, & > h4, & > h5, & > h6 {
        margin-bottom: var(--margin-bottom-xs);
        & > h3, & > h4, & > h5, & > h6 {
            margin-bottom: var(--margin-bottom-sm);
        }
    }
    & > p {
        margin-bottom: var(--margin-bottom-md);
    }
} */
