
<div class="app calendar">
  
  <div class="calendar header">
    ${ calendar.year }, ${ calendar.month }
    <input class="header search" type="date" placeholder="go to (MM/DD/YYYY)" value="${ `${calendar.month}/01/${calendar.year}` }" (change)="handleSearch($event)" />
  </div>
  <div class="calendar body">
    <div class="body matrix">
      ${  // headers
        weekdates.map( date => `<app-calendar-field class="matrix column ${ weekdatenames[ date.getDay() ] }" date="${ date }" type="param" (date:change)="handleDateChange($event)"></app-calendar-field>` ).join('')
      }
      ${  // fields
        dates.map( date => `<app-calendar-field class="matrix field" date="${ date }" type="multi" (date:change)="handleDateChange($event)"></app-calendar-field>` ).join('')
      }
    </div>
  </div>
  <div class="calendar footer">
    <div class="footer selection">
      <span class="selection display">${ selection }</span>
      <button class="selection clear btn btn-clear" (click)="handleSelectionClear($event)">X</button>
    </div>
  </div>
  
</div>
